html, body {height: 100%; margin: 0; font-size: 3.75pt;}
body {display: flex; flex-direction: column; background-image: url('/fon.webp'); background-size: 300px; font-size: 3.8rem; font-family: Trebuchet MS;}
a, b {text-decoration: none; color: inherit; font-family: Georgia; font-weight: bold;}
img {transition: all 0.5s;}
.show img:hover {transform: scale(1); transition: all 0.5s;}

#header, #footer {background: radial-gradient(closest-side, #a7051d 30%, #7c0316); width: 100%; text-align: center; display: inline-block; color: white; font-family: Garamond;}
#header {box-shadow: 0px 4px 8px rgba(0,0,0,0.5)}
#footer {box-shadow: 0px -4px 8px rgba(0,0,0,0.5)}
#header h6 {margin: 15rem 0 10rem 0; font-size: 10rem;}
#footer h6 {margin: 10rem 0rem; font-size: 4rem; font-family: Trebuchet MS;}
#footer a {font-family: Garamond; color: #fad293;}
#footer a:hover {color: white;}

#nav {text-align: center; display: flex;}
#nav a {font-weight: bold; padding: 10px 0px; font-size: 4rem; flex-grow: 1; box-shadow: 0px 2px 2px rgba(0,0,0,0.5); transition: all 0.3s;}
#nav a:hover {background: rgba(0,0,0,0.1); transition: all 0.3s;}
h1, h2, h3, h4, h5, h6 {text-align: center;}

.img_a {width: 80%;}
#main {margin: 6rem 8%; flex-grow: 1;}
@media (max-width: 1366px) {html {font-size: 3.5pt;} .show img:hover {transform: scale(1.15);}}
@media (max-width: 768px) {html {font-size: 3.25pt;} .show img:hover {transform: scale(1.25);} #main {margin: 6rem 5%;} .img_a {width: 100%;}}
@media (max-width: 480px) {html {font-size: 3pt;} .show img:hover {transform: scale(1.35);}}
